/*
    Nord Theme colors
*/
:root {
    --nord0: #2e3440;
    --nord1: #3b4252;
    --nord2: #434c5e;
    --nord3: #4c566a;
    --nord4: #d8dee9;
    --nord5: #e5e9f0;
    --nord6: #eceff4;
    --nord7: #8fbcbb;
    --nord8: #88c0d0;
    --nord9: #81a1c1;
    --nord10: #5e81ac;
    --nord11: #bf616a;
    --nord12: #d08770;
    --nord13: #ebcb8b;
    --nord14: #a3be8c;
    --nord15: #b48ead;
}
:root {
    --pico-primary: var(--nord0);
    /*--pico-primary-background: var(--nord0);*/
    --pico-font-family: 'AileronThin', sans-serif;
    --pico-font-weight: normal;
    --pico-font-style: normal;
    --pico-font-size: 1.2rem;
    /*--pico-contrast: #2a8983;*/
    /*--pico-contrast-background: #2a8983;*/
}

[data-theme=light],
:root:not([data-theme=dark]),
:host:not([data-theme=dark]) {
    color-scheme: light;
    --pico-primary: var(--nord4);
    --pico-primary-background: var(--nord0);
    --pico-contrast-background: var(--nord10);
}

:root([data-theme="dark"]) {
    /*--pico-primary-background: #091322;*/
    /*--pico-contrast: #2a8983;*/
    /*--pico-contrast-background: #2a8983;*/
    --pico-primary: var(--nord7);
}

@media only screen and (prefers-color-scheme: dark) {
    :root:not([data-theme]),
    :host:not([data-theme]) {
        /*--pico-primary-background: #091322;*/
        /*--pico-contrast: #2a8983;*/
        /*--pico-contrast-background: #2a8983;*/
    }
}

:where(input, select, textarea, fieldset, .grid) + label + small {
    color: var(--pico-del-color);
}
body {
    display: flex;
    flex-direction: column;
    margin: 0;
}
footer {
    text-align: center;
}

.left-column {
    background-color: var(--pico-primary-background);
    color: #eeeeee;
    padding: 2rem;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    height: 100vh;
    --pico-font-family: 'Belgika16th', sans-serif;
    --pico-font-weight: normal;
    --pico-font-style: normal;
}

.left-column img {
    height: 80px;
}

.left-column h1 {
    font-size: 2rem;
    font-weight: 600;
    margin: 0;
    color: #eeeeee;
}

.left-column small {
    margin: 0;
    color: #8f8f8f;
}

.right-column {
    padding: 4rem;
    width: 100%;
}

.modules {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 0.3rem;
}

@media (min-width: 768px) {
    body {
        display: flex;
        height: 100vh;
        overflow: hidden;
        flex-direction: row;
    }

    .left-column {
        flex: 1;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        height: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .right-column {
        margin-left: 33.33%;
        flex: 2;
        height: 100vh;
        overflow-y: auto;
    }
}
